/**
 * Variables
 */
$white: #fff;
$black: #000;

$dark: #252725;
$gray: #bfbfc0;
$light-gray: #cacaca;
$very-light-gray: #f8f9fc;

$theme-color: #465d4a;
$theme-color2: #a4ddad;
$theme-color3: #006ce3;
$text-color: #291e43;

$border-color: #454545;
$input-color: #313131;

$error-color: #d42c2c;

$font-primary: 'Poppins', sans-serif;

$bold: 700;
$semi-bold: 600;
$medium: 500;
$regular: 400;
$light: 300;

$theme-border-radius: 15px;
