.theme-blog {
  width: 100%;
  margin: 10px 0 0;

  &--background {
    background: $very-light-gray;
  }

  &--subpage {
    margin: 80px 0;
  }

  &__wrapper {
    width: 100%;
    position: relative;
  }

  &__row {
    @media (width <= 991px) {
      flex-direction: column-reverse;
    }
  }

  &__column {
    &:nth-child(3) {
      @media (width <= 991px) {
        display: none;
      }
    }
  }

  &__item {
    width: 100%;
    height: 100%;
    margin: 40px 0 0;
    display: flex;
    gap: 30px;

    @media (width <= 767px) {
      margin: 40px auto 0;
      height: auto;
      flex-direction: column;
      gap: 15px;
    }
  }

  &__image {
    height: 211px;
    width: 100%;
    max-width: 317px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    min-width: 200px;

    @media (width <= 767px) {
      max-width: 100%;
      height: 300px;
    }

    @media (width <= 480px) {
      max-width: 100%;
      height: 220px;
    }

    &--bigger {
      height: 350px;
    }

    &--smaller {
      height: 200px;
    }

    &::before {
      display: block;
      position: absolute;
      inset: 0;
      margin: 0;
      background: $black;
      opacity: 0;
      z-index: 1;
      cursor: pointer;
      transition: all 350ms ease;
      content: '';
    }

    &:hover {
      &::before {
        opacity: 0.2;
      }
    }

    img {
      transform-origin: center;
      border-radius: $theme-border-radius;
      filter: brightness(0.96) contrast(1.05);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: calc(100% - 350px);
    max-width: 500px;

    @media (width <= 767px) {
      height: auto;
    }
  }

  &__title {
    @extend .h3;
    margin: 10px 0 0;
    max-width: 410px;

    &:hover {
      color: $dark;
    }
  }

  &__time {
    display: block;
    font-size: 15px;
    margin: 15px 0 -10px;
  }

  &__button-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    @media (width <= 767px) {
      justify-content: flex-start;
    }
  }

  &__button {
    margin: 20px 0 0;
    font-size: 16px;
    position: relative;
    background: $text-color;
    border: 1px solid $text-color;
    font-weight: 400;

    &:hover {
      background: $text-color;
      border: 1px solid $text-color;
    }

    &::after {
      content: '';
      display: block;
      bottom: -5px;
      left: 0;
      right: 0;
      height: 3px;
      width: 75%;
      background: $theme-color;
      position: absolute;
      transition: all 300ms ease;
    }

    &:hover {
      &::after {
        width: 100%;
      }
    }
  }

  p {
    @media (width <= 768px) {
      margin: 16px 0 0;
    }
  }
}
