.social-media {
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 20px 0;

  a {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 33px;
    height: 33px;
  }

  @media (width <= 767px) {
    justify-content: center;
  }
}
