.static-gallery {
  position: relative;
  width: 100%;

  &__wrapper {
    width: 100%;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
  }

  &__image {
    width: calc(50% - 7.5px);
    height: 280px;

    @media (width <= 767px) {
      height: 180px;
    }

    img {
      border-radius: 15px;
    }
  }
}
